$primary: var(--mdc-text-button-label-text-color);
$primary-container: var(--mat-list-active-indicator-color);
$on-primary: var(--mdc-filled-button-label-text-color);

$secondary: var(--mat-text-button-disabled-state-layer-color);


$surface: var(--mat-sidenav-container-background-color);
$surface-container: var(--mat-menu-container-color);

$outline-variant: var(--mdc-filled-text-field-container-color);