@import '@styles/variables.scss';
@import '@styles/colors.scss';

.flex-column {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
}

.position-fixed {
    position: fixed;

    &.top {
        top: 0;
    }

    &.bottom {
        bottom: 0;
    }
}

.main-container {
    border-radius: var(--mdc-fab-container-shape);
    background: $primary-container;
}

.safe-area-padding {
    padding: $page-wrapper-padding-top $page-wrapper-padding-right $page-wrapper-padding-bottom $page-wrapper-padding-left;
}

.main-container,
.safe-area-margin {
    margin: $page-wrapper-padding-top $page-wrapper-padding-right $page-wrapper-padding-bottom $page-wrapper-padding-left;
}

.mat-mdc-list-item,
.mat-toolbar {
    user-select: none;
    text-transform: capitalize;
}