@import '@styles/variables.scss';
@import '@styles/colors.scss';

.flex-column {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
}

.position-fixed {
    position: fixed;
    left: 0;
    &.top {
        top: 0;
        &.nav-bar {
            border-bottom: 1px solid $outline-variant;
            padding-top: env(safe-area-inset-top);
            right:0;        
        }
    }

    &.bottom {
        bottom: 0;

        &.nav-bar {
            right: 0;
            padding-bottom: env(safe-area-inset-bottom);
            border-top: 1px solid $outline-variant;
        }
    }
}

.main-container {
    border-radius: var(--mdc-fab-container-shape);
    background: $primary-container;
}

.safe-area-padding {
    padding: $page-wrapper-padding-top $page-wrapper-padding-right $page-wrapper-padding-bottom $page-wrapper-padding-left;
}

.main-container,
.safe-area-margin {
    margin: $page-wrapper-padding-top $page-wrapper-padding-right $page-wrapper-padding-bottom $page-wrapper-padding-left;
}

.mat-mdc-list-item,
.mat-toolbar {
    user-select: none;
    text-transform: capitalize;
}