@use '@styles/variables.scss' as var;

.flex-column {
    display: flex !important;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.full-width {
    width: 100%;
}

.position-fixed {
    position: fixed;
    left: 0;

    &.top {
        top: 0;

        &.nav-bar {
            padding-top: env(safe-area-inset-top);
            right: 0;
            z-index: 2;
        }
    }

    &.bottom {
        bottom: 0;

        &.nav-bar {
            right: 0;
            z-index: 2;
            padding-bottom: env(safe-area-inset-bottom);
            border-top: 1px solid var(--outline-variant);
        }
    }
}

.main-container {
    border-radius: var(--mdc-fab-container-shape);
    background: var(--surface-bright);
    position: relative;
}

.safe-area-padding {
    padding: var.$page-wrapper-padding-top var.$page-wrapper-padding-right var.$page-wrapper-padding-bottom var.$page-wrapper-padding-left;
}

.main-container,
.safe-area-margin {
    margin: var.$page-wrapper-padding-top var.$page-wrapper-padding-right var.$page-wrapper-padding-bottom var.$page-wrapper-padding-left;
}

.mat-mdc-list-item,
.mat-toolbar {
    user-select: none;
    text-transform: capitalize;
}

.flex-center {
    display: flex;
    align-items: center;
}

//TODO Fix the coloring
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-fixed-dim);
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-fixed-dim);
}

::-webkit-scrollbar-track {
    background-color: var(--secondary-container);
}

.toggle {
    height: var(--mat-form-field-container-height);
    display: flex !important;
    padding-left: .25rem;
    --mdc-switch-selected-focus-handle-color: var(--on-primary);
    --mdc-switch-selected-hover-handle-color: var(--on-primary);
    --mdc-switch-selected-pressed-handle-color: var(--on-primary);
}

.slider {
    display: flex;
    align-items: center;
    height: var(--mat-form-field-container-height);

    .slider-label {
        width: 120px;

        .slider-value {
            color: var(--primary);
        }

    }
}

.mat-mdc-slider {
    flex-grow: 1;
    margin-inline: 0 1.5rem !important;
    --mdc-slider-inactive-track-color: var(--secondary);
}

.mat-mdc-option {
    --mat-option-selected-state-layer-color: var(--primary);
    --mat-option-selected-state-label-text-color: var(--on-primary);

}

.recommended {
    --mat-option-label-text-color: var(--on-secondary-container);

    &.mat-mdc-option.mdc-list-item {
        background: var(--secondary-container);
    }

    --mat-option-hover-state-layer-color: var(--primary);

    &:hover {
        --mat-option-label-text-color: var(--on-primary);
    }
}
//TODO Get rid this use overlay
.read-only {
    font-weight: 400;
    // color: var(--outline) ;
}

.region-overlay-wrapper {
    position: relative;

    .region-overlay-enabled {
        color: var(--secondary);
    }

    .region-overlay-enabled::after {
        background-color: rgba(var(--surface-container-rgb), 0.4);
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        cursor: not-allowed;
        border-radius: 0 0 0.5rem 0.5rem;
    }
}