// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$chartreuse-palette,
        tertiary: mat.$blue-palette,
      )));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$rose-palette,
        tertiary: mat.$blue-palette,
      )));

@mixin theme-override-variables($theme) {
  //Primary
  --primary: #{mat.get-theme-color($theme, primary)};
  --on-primary: #{mat.get-theme-color($theme, on-primary)};
  --primary-container: #{mat.get-theme-color($theme, primary-container)};
  --on-primary-container: #{mat.get-theme-color($theme, on-primary-container)};
  --primary-fixed-dim: #{mat.get-theme-color($theme, primary-fixed-dim)};
  //Secondary
  --secondary: #{mat.get-theme-color($theme, secondary)};
  --on-secondary: #{mat.get-theme-color($theme, on-secondary)};
  --secondary-container: #{mat.get-theme-color($theme, secondary-container)};
  --on-secondary-container: #{mat.get-theme-color($theme, on-secondary-container)};
  //Surface
  --surface-bright: #{mat.get-theme-color($theme, surface-bright)};
  --surface-container: #{mat.get-theme-color($theme, surface-container)};
  //Outline
  --outline-variant: #{mat.get-theme-color($theme, outline-variant)};
  //Inverse
  --inverse-primary: #{mat.get-theme-color($theme, inverse-primary)};
  --inverse-on-surface: #{mat.get-theme-color($theme, inverse-on-surface)};
}

html {
  // Apply the light theme by default
  @include mat.all-component-themes($light-theme);
  @include theme-override-variables($light-theme);
  // Apply the dark theme only when the user prefers dark themes.
  // @media (prefers-color-scheme: dark) {
  //   // Use the `-color` mixins to only apply color styles without reapplying the same
  //   // typography and density styles.
  //   // @include mat.all-component-colors($dark-theme);
  // }
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include theme-override-variables($dark-theme);
}


.mat-toolbar {
  user-select: none;
  text-transform: capitalize;
  justify-content: space-between;
  --mat-toolbar-container-text-color:var(--primary);
  --mdc-icon-button-icon-color: var(--primary);

}

.mat-mdc-tab-link {
  --mat-tab-header-active-label-text-color: var(--primary);
  --mat-tab-header-active-focus-label-text-color: var(--primary);
  --mat-tab-header-active-hover-label-text-color: var(--primary);
  --mat-tab-header-inactive-label-text-color: var(--secondary);
  --mat-tab-header-inactive-focus-label-text-color: var(--primary);  
  --mat-tab-header-inactive-hover-label-text-color: var(--primary);
}