@import '@styles/colors.scss';
.mat-toolbar{
    background: $bar-color;
    --mdc-filled-button-label-text-color:var(--primary);
    --mdc-filled-button-container-color: #{$bar-color}
}
.brand {
    flex-grow: 1;
    letter-spacing: 2px;
    --mdc-text-button-container-shape:1rem;
    --mdc-filled-button-container-shape:1rem;
    font-size: 1.5rem;
    .mat-icon{
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}