@use '@styles/colors.scss' as colors;
.mat-toolbar{
    background: colors.$bar-color;
    --mat-button-filled-label-text-color:var(--primary);
    --mdc-filled-button-container-color: #{colors.$bar-color}
}
.brand {
    flex-grow: 1;
    letter-spacing: 2px;
    --mdc-text-button-container-shape:1rem;
    --mdc-filled-button-container-shape:1rem;
    font-size: 1.5rem;
    .mat-icon{
        font-size: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
    }
}