@import '@styles/theme.scss';
.c-container{
 display: flex;
 flex-wrap: wrap;
}
.color-container{
    width: 240px;
    height: 40px;
}

.bgc-1{
    background: var(--primary);
}
.bgc-2{
    background: var(--on-primary);
}
.bgc-3{
    background: var(--primary-container);
}
.bgc-4{
    background: var(--on-primary-container);
}
.bgc-5{
    background: var(--secondary);
}
.bgc-6{
    background: var(--on-secondary);
}
.bgc-7{
    background: var(--secondary-container);
}
.bgc-8{
    background: var(--on-secondary-container);
}

// --primary: #{mat.get-theme-color($theme, primary)};
//   --on-primary: #{mat.get-theme-color($theme, on-primary)};
//   --primary-container: #{mat.get-theme-color($theme, primary-container)};
//   --on-primary-container: #{mat.get-theme-color($theme, on-primary-container)};  
//   //Secondary
//   --secondary: #{mat.get-theme-color($theme, secondary)};
//   --on-secondary: #{mat.get-theme-color($theme, on-secondary)};
//   --secondary-container: #{mat.get-theme-color($theme, secondary-container)};
//   --on-secondary-container: #{mat.get-theme-color($theme, on-secondary-container)};
//   //Surface
//   --surface-bright: #{mat.get-theme-color($theme, surface-bright)};
//   --surface-container: #{mat.get-theme-color($theme, surface-container)};
//   //Outline
//   --outline-variant: #{mat.get-theme-color($theme, outline-variant)};