.field-width {
  width: 100%;
  min-width: 240px; 
}
.flex-center {
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--primary);
  font-size: .875rem;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}