@import '@styles/colors.scss';

.mat-mdc-tab-link {
    height: var(--mat-toolbar-mobile-height);
    --mat-tab-header-inactive-label-text-color:#{$secondary};
}

.mdc-tab--active {
    color: $secondary;
    background: $primary-container;
    font-variation-settings: 'FILL' 1;
}

.mdc-tab {
    padding: 0;
}

:host ::ng-deep {
    .mdc-tab-indicator {
        height: 1px;
        top: 1px;
    }
}