@import '@styles/colors.scss';

.mat-toolbar {
    background: $bar-color;
}

.mat-mdc-tab-link {
    height: var(--mat-toolbar-mobile-height);
}
.mdc-tab:hover,
.mdc-tab--active {
    font-variation-settings: 'FILL' 1;
}

.mdc-tab {
    padding: 0;
}

:host ::ng-deep {
    .mdc-tab-indicator {
        height: 1px;
        top: 1px;
    }
}