@import '@styles/colors.scss';
.mdc-button{
    flex-grow: 1;
    justify-content: flex-start;
    color: $primary-container;
    font-weight: 400;
    --mdc-filled-button-container-shape:#{16px};
}
.active {
    font-weight: 500;
    color: $primary;
    background: $primary-container;
    font-variation-settings: 'FILL' 1;
}