@use '@styles/colors.scss' as colors;
 
.mdc-button {
    flex-grow: 1;
    justify-content: flex-start;
    // text-transform: uppercase;
    --mat-button-text-label-text-color: var(--secondary);
    --mdc-filled-button-container-shape:1rem;
    --mdc-text-button-container-shape:1rem;
    // --mdc-text-button-label-text-tracking: .031rem;
}

.mdc-button:hover,
.active {
    // --mdc-text-button-label-text-size: 1rem;
    --mdc-text-button-label-text-color: var(--primary);    
    font-variation-settings: 'FILL' 1;
}

.active {
    background: colors.$bar-color;
}