@use '@styles/variables.scss' as variables;

.mat-drawer-container {
    --mat-sidenav-container-width: #{variables.$app-drawer-width};
    user-select: none;

    .mat-sidenav{
        position: fixed;
        // --mat-sidenav-container-background-color: #{$bar-color};
        // border-right: ;
    }
    .mat-drawer-content {
        min-width: variables.$app-screen-min-width;
        min-height: variables.$page-wrapper-height;
        display: flex;
        flex-direction: column;
        background: var(--surface-container);
    }
}

.large-screen {
    --mat-sidenav-container-shape: 0px;
    --mat-sidenav-container-divider-color:var(--outline-variant);

    .position-fixed {
        &.top.nav-bar {
            left: variables.$app-drawer-width;
        }
    }
}