<mat-toolbar aria-label="App Bar" role="navigation">
    <div class="flex-center">
        @if(!mediaQuery.isLarge()){
        <tap-btn-toggle [type]="toggleType.SIDENAV"></tap-btn-toggle>
        <a mat-button [routerLink]="sidenavService.homeData.url.toString()">Angular PlayGround</a>
        }
    </div>
    <div>
        @if(mediaQuery.isLarge()){
        <a mat-button [routerLink]="sidenavService.homeData.url.toString()">Angular PlayGround</a>
        }
    </div>
    <div class="flex-center">
        <div class="toggle-buttons-container">
            @if(mediaQuery.isLarge()){
            <tap-btn-toggle [type]="toggleType.FULLSCREEN"></tap-btn-toggle>
            <tap-btn-toggle [type]="toggleType.THEME"></tap-btn-toggle>
            }
        </div>
        <tap-bar-top-login></tap-bar-top-login>
    </div>

</mat-toolbar>