@use '@styles/colors.scss' as colors;

.mat-toolbar {
    background: colors.$bar-color;
    --mdc-text-button-container-shape:#{16px};
    --mdc-filled-button-container-shape:#{16px};
    --mdc-text-button-label-text-size:#{1.25rem};
}