<mat-toolbar aria-label="App Bar" role="navigation">
    <div class="flex-center">
        @if(!mediaQuery.isLarge()){
        <tap-btn-toggle [type]="toggleType.SIDENAV"></tap-btn-toggle>
        <a mat-button [routerLink]="sidenavService.homeData.url">AL Fatheh Mosque</a>
        }
    </div>
    <div>
        @if(mediaQuery.isLarge()){
        <a mat-button [routerLink]="sidenavService.homeData.url">AL Fatheh Mosque</a>
        }
    </div>
    <div>
        @if(mediaQuery.isLarge()){
        <tap-btn-toggle [type]="toggleType.FULLSCREEN"></tap-btn-toggle>
        <tap-btn-toggle [type]="toggleType.THEME"></tap-btn-toggle>
        }
    </div>
</mat-toolbar>