<mat-sidenav-container [class.large-screen]="mediaQuery.isLarge()">
    <mat-sidenav [opened]="mediaQuery.isLarge() || sidenavService.isOpen()" [mode]="mode()" role="dialog"
        (closedStart)="toggleService.handleToggleEvent(toggleType,false)" [position]="position()">heello</mat-sidenav>
    <mat-sidenav-content>
        <!-- Top Bar for Large Screen -->
        @if(!mediaQuery.isMobile()){
        <tap-bar-top class="position-fixed top"></tap-bar-top>
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <mat-toolbar></mat-toolbar>
        }
        <!-- Router Outlet -->
        <div class="main-container flex-column">
            <router-outlet></router-outlet>
        </div>
        <!-- Bottom Bar for mobile Screen -->
        @if(mediaQuery.isMobile()){
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <mat-toolbar></mat-toolbar>
        <tap-bar-bottom class="position-fixed bottom"></tap-bar-bottom>
        }

    </mat-sidenav-content>
</mat-sidenav-container>