<mat-sidenav-container [class.large-screen]="sidenavService.isLarge()">
    <mat-sidenav [opened]="sidenavService.isOpen()" [mode]="sidenavService.mode()" role="dialog"
        (closedStart)="sidenavService.closedStart()">heello</mat-sidenav>
    <mat-sidenav-content>
        <!-- Top Bar for Large Screen -->
        @if(!sidenavService.isMobile()){
        <tap-bar-top class="position-fixed top"></tap-bar-top>
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <mat-toolbar></mat-toolbar>
        }
        <!-- Router Outlet -->
        <div class="main-container flex-column">
            <router-outlet></router-outlet>
        </div>
        <!-- Bottom Bar for mobile Screen -->
        @if(sidenavService.isMobile()){
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <mat-toolbar></mat-toolbar>
        <tap-bar-bottom class="position-fixed bottom"></tap-bar-bottom>
        }

    </mat-sidenav-content>
</mat-sidenav-container>