<mat-sidenav-container [class.large-screen]="mediaQuery.isLarge()">
    <mat-sidenav [opened]="mediaQuery.isLarge() || sidenavService.isOpen()" [mode]="mode()" role="dialog"
        (closedStart)="toggleService.handleToggleEvent(toggleType,false)"
        [position]="position()"><tap-sidenav-drawer></tap-sidenav-drawer></mat-sidenav>
    <mat-sidenav-content>
        <!-- Top Bar for Large Screen -->
        @if(!mediaQuery.isMobile()){
        <tap-bar-top class="position-fixed top nav-bar"></tap-bar-top>
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <tap-bar-hidden></tap-bar-hidden>
        }
        <!-- Router Outlet -->
        <div class="main-container flex-column flex-grow">
            <router-outlet></router-outlet>
        </div>
        <!-- Bottom Bar for mobile Screen -->
        @if(mediaQuery.isMobile()){
        <!-- Dummy PlaceHolder for Scroll Issues -->
        <tap-bar-hidden></tap-bar-hidden>
        <tap-bar-bottom class="position-fixed bottom nav-bar"></tap-bar-bottom>
        }

    </mat-sidenav-content>
</mat-sidenav-container>