<div role="group" class="input-container" [formGroup]="form" [attr.aria-labelledby]="_formField?.getLabelId()"
    (focusin)="onFocusIn()" (focusout)="onFocusOut($event)" [class.read-only]="form.disabled">
    <mat-form-field>
        <mat-label>{{ control.label }}</mat-label>
        <mat-select [formControl]="valueControl" #value>
            @for (option of options; track option) {
            <mat-option [value]="option.value" [class.recommended]="option.recommended">{{option.name}}</mat-option>
            }
        </mat-select>
        <mat-error>{{ getValidationError()}}</mat-error>
    </mat-form-field>
    <mat-slide-toggle [formControl]="typeControl" #type aria-label="Enable/Disable option"><span
            [class.read-only]="!editMode">{{control.typeLabel}}</span></mat-slide-toggle>
</div>