<div class="color-container">
    <div class="content primary">primary</div>
    <div class="content on-primary">on-primary</div>
    <div class="content primary-container ">primary-container</div>
    <div class="content on-primary-container">on-primary-container</div>
    <div class="content primary-fixed">primary-fixed</div>
    <div class="content primary-fixed-dim">primary-fixed-dim</div>
    <div class="content on-primary-fixed">on-primary-fixed</div>
    <div class="content on-primary-fixed-variant">on-primary-fixed-variant</div>
    <!-- secondary -->
    <div class="content secondary">secondary</div>
    <div class="content on-secondary">on-secondary</div>
    <div class="content secondary-container ">secondary-container</div>
    <div class="content on-secondary-container">on-secondary-container</div>
    <div class="content secondary-fixed">secondary-fixed</div>
    <div class="content secondary-fixed-dim">secondary-fixed-dim</div>
    <div class="content on-secondary-fixed">on-secondary-fixed</div>
    <div class="content on-secondary-fixed-variant">on-secondary-fixed-variant</div>
    <!-- tertiary -->
    <div class="content tertiary">tertiary</div>
    <div class="content on-tertiary">on-tertiary</div>
    <div class="content tertiary-container ">tertiary-container</div>
    <div class="content on-tertiary-container">on-tertiary-container</div>
    <div class="content tertiary-fixed">tertiary-fixed</div>
    <div class="content tertiary-fixed-dim">tertiary-fixed-dim</div>
    <div class="content on-tertiary-fixed">on-tertiary-fixed</div>
    <div class="content on-tertiary-fixed-variant">on-tertiary-fixed-variant</div>
    <!-- Error -->
    <div class="content error">error</div>
    <div class="content on-error">on-error</div>
    <div class="content error-container ">error-container</div>
    <div class="content on-error-container">on-error-container</div>
   <!-- surface -->
   <div class="content surface-dim">surface-dim</div>
   <div class="content surface">surface</div>
   <div class="content surface-bright">surface-bright</div>
   <div class="content surface-container-lowest">surface-container-lowest</div>
   <div class="content surface-container-low">surface-container-low</div>
   <div class="content surface-container">surface-container</div>
   <div class="content surface-container-high">secondary-high</div>
   <div class="content surface-container-highest">surface-container-highest</div>
   <div class="content on-surface">on-surface</div>
   <div class="content on-surface-variant">on-surface-variant</div>
    <!-- variant -->
    <div class="content outline">outline</div>
    <div class="content outline-variant">outline-variant</div>
    <!-- inverse -->
    <div class="content inverse-primary">inverse-primary</div>
    <div class="content inverse-surface">inverse-surface</div>
    <div class="content inverse-on-surface">inverse-on-surface</div>
</div>

