.form-container {
    display: flex;
    gap: .25rem 1rem;
    flex-wrap: wrap;
    align-items: center;
    margin: .5rem 0;

    .field-width {
        width: 100%;
        min-width: 240px;
    }
}

.time-input {
    caret-color: transparent !important;
    user-select: none
}