<form [formGroupName]="controlKey" class="form-container">
    @for(field of formFields; track field){
    @if(field.type == formService.isInputType(field.type)){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControl]="getFormControl(field.name)"
            [maxLength]="field.validators?.maxLength" [placeholder]="field.placeholder" />
        <mat-hint align="end">{{ getFieldLength(field.name) }}/{{
            field.validators?.maxLength
            }}</mat-hint>
        @if(showValidationError(field.name)){
        <mat-error>{{ getValidationError(field)}}</mat-error>
        }
    </mat-form-field>
    } @else if(field.type == 'textarea'){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <textarea matInput [type]="field.type" [formControl]="getFormControl(field.name)"
            [maxLength]="field.validators?.maxLength" [placeholder]="field.placeholder" [rows]="field.rows"></textarea>
        <mat-hint align="end">{{ getFieldLength(field.name) }}/{{
            field.validators?.maxLength
            }}</mat-hint>
        @if(showValidationError(field.name)){
        <mat-error>{{ getValidationError(field)}}</mat-error>
        }
    </mat-form-field>
    } @else if(field.type == 'number'){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControl]="getFormControl(field.name)" [placeholder]="field.placeholder"
            [maxLength]="field.validators?.maxLength" />
        <mat-hint align="end">{{ getFieldLength(field.name) }}/{{
            field.validators?.maxLength
            }}</mat-hint>
        @if(showValidationError(field.name)){
        <mat-error>{{ getValidationError(field)}}</mat-error>
        }
    </mat-form-field>
    } @else if(field.type == 'select'){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControl]="getFormControl(field.name)">
            @for (option of field.options; track option.value) {
            <mat-option [value]="option.value" [class.recommended]="option.recommended"><span>{{ option.name
                    }}</span></mat-option>
            }
        </mat-select>
    </mat-form-field>
    } @else if(field.type == 'slider'){
    <div class="field-width slider" [style.flex]="field.colspan">
        <div class="slider-label">{{ field.label }} (<span
                class="slider-value">{{getFormControl(field.name).value}}&deg;</span>)</div>
        <mat-slider [max]="field.validators?.max" [min]="field.validators?.min" [step]="field.step" discrete>
            <input matSliderThumb [value]="field.value" [formControl]="getFormControl(field.name)">
        </mat-slider>
    </div>
    } @else if(field.type == 'series'){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControl]="getFormControl(field.name)" [value]="field.value">
            @for (option of formService.getSeriesOptions(field); track option.value) {
            <mat-option [value]="option.value" [class.recommended]="option.recommended"><span>{{ option.name
                    }}</span></mat-option>
            }
        </mat-select>
    </mat-form-field>
    } @else if(field.type == 'toggle'){
    <mat-slide-toggle [formControl]="getFormControl(field.name)" [checked]="field.value" class="field-width toggle"
        [style.flex]="field.colspan">{{ field.label }}</mat-slide-toggle>
    }
    @else if(field.type == 'iqama'){
    <mat-form-field class="field-width" [style.flex]="field.colspan">
        <mat-label>{{ field.label }}</mat-label>
        <tap-iqama [formControl]="getFormControl(field.name)" [control]="field"></tap-iqama>
    </mat-form-field>
    }
    }

</form>