<tap-btn-tab-action [editMode]="editMode()" (output)="onActionBtnClicked($event)"/>
<div>
    <div class="region-overlay-wrapper">
        <div [class.region-overlay-enabled]="!editMode()">
            <form [formGroup]="form" class="form-group">
                @for(form of forms(); track form.name){
                <div class="form-group-name"> {{form.label}} </div>
                <tap-lib-form #libForm [formGroupName]="form.name" [formFields]="form.data"
                    [editMode]="editMode()"></tap-lib-form>
                }
            </form>
        </div>
    </div>
</div>