.form-group {
    padding: .5rem;
    .form-group-name {
        // padding-top: 1rem;
        // border-top: 1px solid var(--surface-variant);
        color: var(--primary);
        letter-spacing: 1px;
        font-weight: var(--mat-tab-header-label-text-weight);
        // font-size: var(--mat-tab-header-label-text-size);        
        // &:first-child {
        //     border: none;
        //     // padding-top: 2rem;
        // }
    }
}