.region-overlay-wrapper {
    position: relative;

    .region-overlay-enabled {
        color: var(--secondary);
    }

    .region-overlay-enabled::after {
        background-color: rgba(var(--surface-container-rgb), 0.4);
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 2;
        cursor: not-allowed;
        border-radius: 0 0 0.5rem 0.5rem;
    }
}

.form-group {
    padding: .5rem;
    .form-group-name {
        // padding-top: 1rem;
        // border-top: 1px solid var(--surface-variant);
        color: var(--primary);
        letter-spacing: 1px;
        font-weight: var(--mat-tab-header-label-text-weight);
        // font-size: var(--mat-tab-header-label-text-size);        
        // &:first-child {
        //     border: none;
        //     // padding-top: 2rem;
        // }
    }
}