@import '@styles/layout.scss';

html, body { height: 100%; }
html { scroll-behavior: smooth; } /*Note: Add this */
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*,*::before,*::after { box-sizing: border-box; } /*Note: Add this */