// @import '@styles/variables.scss';
@import '@styles/colors.scss';
.breadcrumbs-container{
    padding-bottom: 0;
    background: $surface-container;
}
.not-mobile{
    padding-top: 0;;
}
.link {
    text-decoration: none;
    text-transform: capitalize;
    color: $primary;
    font-size: .75rem;
    font-weight: 500;
}
.link:last-child{
    text-decoration: none;
    color: $secondary;
    font-weight: 400;
}