// @import '@styles/variables.scss';
@import '@styles/colors.scss';
.breadcrumbs-container{
    padding-bottom: 0;
    background: $surface-container;
}
// .mat-icon{
//     height: 14px;
//     width: 14px;
//     font-size: 14px;
//     font-weight: 600;
// }
.link {
    text-decoration: none;
    text-transform: capitalize;
    color: $primary;
    font-size: .75rem;
    font-weight: 500;
}
.link:last-child{
    text-decoration: none;
    color: $secondary;
    font-weight: 400;
}